.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.tableContainer{
  margin-top: 20px;
  width: 50% !important;
}

.directions {
  padding-top: 20px;
}

.checkIfWinner {
  padding: 10px;
}

.App-error {
  color: #ff5050;
  font-family: monospace;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}
