.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: darkgrey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-error {
  color: #ff5050;
  font-family: monospace;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

h1, text {
  font-family: monospace;
}

#carousel > span:nth-child(3), span:nth-child(5) {
  text-align: -webkit-center;
}


.css-q87w6i-MuiButtonBase-root-MuiButton-root.Mui-disabled {
  /* opacity: 0.1; */
  color: black;
  border-color: black;
}

button.submit-button {
  color: black;
  border-color: black;
}

.movie-card {
  border-radius: 30px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  width: 250px;
  height: 350px;
  margin-bottom: 20px;
  background-position: center;
  background-size: cover;
}